@import './styles/tailwind.css';

body {
  background-image: url('../public/diagonal-lines.png');
  background-repeat: repeat;
  font-family: 'Press Start 2P', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.neon-pink {
  color: #f700ff;
}

.neon-blue {
  color: #00d4ff;
}

.neon-green {
  color: #00ff00;
}

.neon-yellow {
  color: #ffff00;
}
